.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../images/fundo2.png') center no-repeat, url("../images/wall.png");
    position: relative;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5.625rem;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-bottom: 5px solid #ffd700;
    position: absolute;
    top: 0;
}

.menu-time h2:nth-child(2), .menu-score h2:nth-child(2) {
    margin-top: 1rem;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    margin-top: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.square {
    height: 130px;
    width: 130px;
    border: 1px solid #000;
    background-color: #75977cd8;
    cursor: pointer;
    margin: 1rem;
    border-radius: 8px;
}

.enemy {
    background: url("../images/ralph.png"), #75977c;
    background-size: cover;
}

@media (max-width: 500px) {

    .container {
        background: url("../images/wall.png");
        position: relative;
    }
    .menu {
        height: 7rem;
        padding: 1rem;
    }

    .menu h2 {
        font-size: .7rem;
        text-align: center;

    }
    
    
    .menu-lives img {
        width: 3rem;
    }
    
    
    .square {
        height: 100px;
        width: 100px;
        margin: .5rem;
    }
    
}
